body{
    background-color: antiquewhite;
}

h1{
    color:#CD5888;
}

div{
    color:#913175;
    margin: 10px;
}

header{
    text-align: center;
}

section{
    text-align: center;
    
    
}